# Configuración para Pylance/PyLint para proyectos Flask-SQLAlchemy
[tool.pylsp-mypy]
enabled = false

[tool.pyright]
typeCheckingMode = "basic"
reportCallIssue = "none"
reportArgumentType = "none"
reportGeneralTypeIssues = "warning"
reportMissingTypeStubs = "none"
reportUnknownParameterType = "none"
reportUnknownArgumentType = "none"
reportAttributeAccessIssue = "none"

[pylint]
disable = 
    too-many-arguments,
    too-many-instance-attributes,
    too-few-public-methods,
    import-error,
    no-member
